<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listado de Vuelos</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<h1 th:text="${titulo}"></h1>

<div th:if="${usuario}">
    <p th:text="${usuario.user}"></p>
    <a href="/login/exit">Salir</a>
</div>
<div th:unless="${usuario}">
    <a href="/login">Login</a>
</div>

<ul>
    <li class="new" th:if="${usuario}">
        <a href="/web/new">Nuevo vuelo</a>
    </li>
    <li th:each="vuelo:${vuelos}">
        <a th:href="@{'/web/'+${vuelo.id}}">
            <h4 th:text="'Vuelo: ' + ${vuelo.numeroVuelo}"></h4>
            <p th:text="'Aerolínea: ' + ${vuelo.aerolinea}"></p>
            <p th:text="'Origen: ' + ${vuelo.origenciudad} + ', ' + ${vuelo.origenpais}"></p>
            <p th:text="'Destino: ' + ${vuelo.destinociudad} + ', ' + ${vuelo.destinopais}"></p>
            <p th:text="'Estado: ' + ${vuelo.estado}"></p>
        </a>
    </li>
</ul>
</body>
</html>