<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Nuevo Vuelo</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<h1>Nuevo Vuelo</h1>
<form method="post">
  <div>
    <label for="numeroVuelo">Número de Vuelo</label>
    <input type="text" id="numeroVuelo" name="numeroVuelo" required>
  </div>
  <div>
    <label for="aerolinea">Aerolínea</label>
    <input type="text" id="aerolinea" name="aerolinea" required>
  </div>
  <div>
    <label for="origenciudad">Ciudad de Origen</label>
    <input type="text" id="origenciudad" name="origenciudad" required>
  </div>
  <div>
    <label for="origenpais">País de Origen</label>
    <input type="text" id="origenpais" name="origenpais" required>
  </div>
  <div>
    <label for="destinociudad">Ciudad de Destino</label>
    <input type="text" id="destinociudad" name="destinociudad" required>
  </div>
  <div>
    <label for="destinopais">País de Destino</label>
    <input type="text" id="destinopais" name="destinopais" required>
  </div>
  <div>
    <label for="estado">Estado</label>
    <input type="text" id="estado" name="estado" required>
  </div>
  <div>
    <button>Guardar</button>
  </div>
</form>
</body>
</html>
